:root {
   --bgcolor: #394047;
   --divbg: #212529;
   --text: #fff;
   --glow: rgba(255, 255, 255, 0.5);
   --input: rgba(255, 255, 255, 0.8);
   --invisible: rgba(0, 0, 0, 0);
}

html {
   background-color: var(--divbg);
}

div a {
   color: #fff;
   text-decoration: none;
}

#root {
   height: 100vh;
   height: 100dvh;
   background: linear-gradient(var(--bgcolor), var(--divbg));
   color: var(--text);
}

form {
   background-color: var(--divbg);
   box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
   color: var(--text);
   border: 1px solid;
   border-color: rgba(0, 0, 0, 0.2);
   padding: 1rem;
}

.logo img {
   border-radius: 6px;
   width: 3rem;
}

.btn:hover {
   box-shadow: inset 0 0 0.5rem var(--glow);
   transition: all 200ms ease;
   text-shadow: 0 0 0.2rem white;
}

input.form-control {
   background-color: var(--input);
   min-width: 100%;
   padding: 0.4rem;
   border-radius: 6px;
   border: 1px solid var(--glow);
   transition: all 200ms ease;
}
.icon {
   color: #ffffff;
   text-decoration: none;
   background-color: #212529;
}

ul li:hover {
   background-color: var(--bgcolor);
   border-radius: 6px;
}
.selected {
   background-color: var(--bgcolor);
   border-radius: 6px;
}

input.calendarInput {
   background-color: var(--input);
   min-width: 20%;
   padding: 0.4rem;
   border-radius: 6px;
   border: 1px solid var(--glow);
   transition: all 200ms ease;
   margin: 0.2rem;
   box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
}

.center {
   align-content: center;
}

.login {
   display: grid;
   justify-content: center;
   align-items: center;
}

.login-title {
   margin: auto;
   width: 10rem;
   border-radius: 0 0 6px 6px;
   box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
}
.home-Page{
  text-align: center;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.home-About{
   text-align: center;
   border-bottom: 1px solid rgb(255, 255, 255);
}
.home-Social{
   text-align: center;
   border-bottom: 1px solid rgb(255, 255, 255);
}
.home-Contacts{
   text-align: center;
   
}
