.chats {
   display: flex;
   flex-direction: column;
   flex: 0.75;
   height: 85vh;
}
.chats_messages {
   flex: 1;
   overflow: scroll;
}
.chats_messages::-webkit-scrollbar {
   display: none;
}
.chats_messages {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.chats_input {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: gray;
   padding: 15px;
   border-radius: 15px;
   margin: 20px;
   border-top: 1px solid gray;
   
}

.chats_input > form > input {
   background-color: transparent;
   width: 90%;
   border: none;
   outline: 0;
   color: white;
   font-size: large;
   cursor: pointer;
}

.chats_input > form {
   flex: 1;
   border-radius: 10px;
}

.chats_inputIcons:hover {
   color: white;
   padding: 5px;
}
.chats_input_btn {
   display: none;
}

