.message{
    display: flex;
    align-items: center;
    padding: 10px;
}

.message_info{
    margin: 5px;
 }
 .message_timestamp{
    color: gray;
    margin-left: 20px;
    font-size: x-small;
 }

 .orginMessage{
    display: flex;
    margin-left: 25%;
    padding: 10px;
 }