.sidebar {
   display: flex;
   flex-direction: column;
   flex: 0.25;
   height: 85vh;
   background-color: var(--bgcolor);
   border-radius: 6px;
}

.sidebar_top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: var(--divbg);
   color: #fff;
   border-bottom: 3px solid rgb(45, 45, 45);
   border-radius: 6px 6px 0 0;
}

.sidebar_channels {
   display: flex;
}

.sidebar_addchannels {
   cursor: pointer;
}

.sidebar_addchannels:hover {
   color: #38da38;
}

.sidebar_channelsHeader {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   background-color: var(--divbg);
   color: gray;
   flex: 1;
}

.sidebar_header {
   display: flex;
   align-items: center;
}

.sidebar_profile {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: gray;
   padding: 0 10px;
   border-top: 1px solid gray;
   background-color: white;
}

.sidebar_profileInfo {
   display: 1;
   padding: 0 10px;
   background-color: white;
}

.sidebar_profileInfo > h6 {
   color: black;
}

.sidebar_channelList {
   flex: 1;
   overflow: scroll;
}

.sidebar_channelList::-webkit-scrollbar {
   display: none;
}

.sidebar_channelList {
   -ms-overflow-style: none;
   scrollbar-width: none;
   background-color: white;
}

.addChannel_form {
   width: 90%;
   height: 90%;
   position: absolute;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.addChannel_formContent {
   height: 175px;
   width: 300px;
   background-color: white;
   color: black;
   padding: 20px;
   border-radius: 5px;
   position: relative;
   border: solid var(--divbg);
}

.addChannel_formContent_btn {
   display: none;
}
.addChannel_headText {
   border-radius: 5px;
   color: black;
}
.addChannel_formInput {
   background-color: transparent;
   border-radius: 6px;
   border: none;
   outline: 0;
   color: black;
}
.form {
   background-color: var(--bgcolor);
}
#drop_btn {
   color: #fff;
   border-color: #fff;
}
.option {
   justify-content: space-between;
   display: flex;
   justify-items: center;
}
.label-text {
   display: inline-block;
   cursor: pointer;
}
.sidebarChannel:hover > h5 {
   color: black;
   background-color: #679dd3;
}

.sidebarChannel > h5 {
   display: flex;
   padding-left: 15px;
   align-items: center;
   background-color: #2a73bd;
   color: black;
   cursor: pointer;
}
.sidebarChannel_hash {
   font-size: 10px;
   padding: 8px;
}
