.sidebarChannel:hover > h5{
    color: rgb(91, 103, 139);
    background-color: gray;
    
}

.sidebarChannel > h5{
  display: flex;
  padding-left: 15px;
  align-items: center;
  background-color: #394047;
  color: gray;
  cursor: pointer;
    
}
.sidebarChannel_hash{
    font-size: 30px;
    padding: 8px;  
  }