.plays_list{
    background-color: rgb(101, 45, 180);
    padding: 10px;
    border-radius: 5px;
}
.plays_time{
  color: rgb(239, 236, 236);
margin-left: 10%;
font-size: small; 

}
.plays_description{
   font-size: medium;
  }
  .form_container{
    background-color: rgb(35, 34, 34);
    padding: 10px;
    border-radius: 5px;
   }
.info_input{
margin: 5px;
border-radius: 5px;
border: none;
outline: 0;
color: rgb(0, 0, 0);
font-size: large;
cursor: pointer;
   }
.form_box{
  justify-content: center;
  display: flex;
 }