.plays_list {
   background-color: white;
   padding: 10px;
   border-radius: 5px;
   margin: 10px;
}
.plays_time {
   color: rgb(138, 136, 136);
   margin-left: 10%;
   font-size: small;
}
.plays_description {
   font-size: medium;
}
.form_container {
   background-color: var(--bgcolor);
   padding: 10px;
   border-radius: 5px;
}
.info_input {
   background-color: var(--bgcolor);
   margin: 5px;
   border-radius: 5px;
   border: 1px solid black;
   outline: 0;
   color: rgb(205, 109, 13);
   font-size: large;
   cursor: pointer;
}
.form_box {
   justify-content: center;
   display: flex;
}
